/*-------НАШИ ОСОБЕННОСТИ------- */
.feature {
  display: flex;
}
.feature__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.feature__box {
  display: flex;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: $backgr-btn-color;
  align-items: center;
  justify-content: center;
}
.feature__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
