/*-------НАШИ ОСОБЕННОСТИ------- */
.feature {
  // для мобилы
  margin: 0 auto;
  // max-width: 450px;

  // для таблетки
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$card-set-gap});
    margin-top: calc(-1 * #{$card-set-gap});

    // max-width: 100%;
  }

  // для десктопа
  @media screen and (min-width: 1200px) {
    display: flex;
    // flex-wrap: nowrap;

    margin: 0 auto;
    // max-width: 100%;
  }
}
.feature__item {
  // для мобилы
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // для таблетки
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - #{$card-set-gap});
    margin-left: $card-set-gap;
    margin-top: $card-set-gap;

    width: 354px;
  }
  // для десктопа
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    width: 270px;
  }
}
.feature__box {
  display: flex;
  margin-bottom: 30px;

  height: 120px;
  background-color: $backgr-btn-color;
  align-items: center;
  justify-content: center;
}
.feature__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
