/* Основной цвет логотипа */
.header-logo {
  font-family: $raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: #000000;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;

    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;

  font-family: $raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: $white-text-color;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
/* Красит часть логотипа в синий цвет в хидере и футере*/
.header-logo_web-logo,
.footer-logo_web-logo {
  color: $accent-color;
}
